<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, User!</title>
</head>
<body>
    <h1>Welcome! Please select what you would like to do from the menu below:</h1>
    <form method="GET">
        <select name="action" id="action">
            <option value="view transaction history">View Transactions</option>
            <option value="deposit money">Deposit Money</option>
            <option value="withdraw money">Withdraw Money</option>
            <option value="view account">My Account</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>